:root {
    --corNavbar: #8c52ff;
    --corFonteNavbar: rgb(236, 236, 236);
    --corFonteNavbarHover: rgb(141, 141, 141);
    --fontePrincipal: Arial;
}

body {
    font-family: var(--fontePrincipal);
}

/*Navbar*/
.navbar {
    background-color: var(--corNavbar);
    padding: 30px;
}

.linksNavbar > a {
    color: var(--corFonteNavbar);
    text-decoration: none;
    font-size: x-large;
}

.linksNavbar:hover {
    color: var(--corFonteNavbarHover);
    text-decoration: underline;
}

.listaNavbar {
    list-style-type: none;
    padding-bottom: 20px;
}

.linksEsquerda {
    margin-right: 30px;
    float: left;
}

.linksDireita {
    margin-left: 30px;
    float: right;
}


/*Rosa*/
.cursos table {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    border-spacing: 140px 0;

}

.icones{
    text-align: center;
}
.titulos{
    text-align: center;
}
.textos{
    text-align: justify;
}